@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 92% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 207 92% 99%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 207 92% 99%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 20% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 197 92% 57%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 0 72% 51%;
    --chart-3: 197 92% 57%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 197 92% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 0 72% 51%;
    --chart-3: 197 92% 57%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  main {
    padding: 0;
    margin: 0;
  }
  .printable-area {
    box-shadow: none !important;
    border: none !important;
  }
  .printable-area .card-printable {
    border: 1px solid #ccc;
    box-shadow: none;
    break-inside: avoid;
  }
}
